aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
alembic
altair
annotated-types
anyio
attrs
bcrypt
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
Crawl4AI
cryptography
cssselect
dataclasses-json
distro
dnspython
ecdsa
fake-http-header
fake-useragent
fastapi
filelock
frozenlist
fsspec
gitdb
GitPython
greenlet
groq
h11
httpcore
httplib2
httpx
httpx-sse
huggingface-hub
idna
importlib_metadata
iniconfig
Jinja2
jiter
joblib
jose
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jwt
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
litellm
loguru
lxml
Mako
markdown-it-py
MarkupSafe
marshmallow
mdurl
multidict
mypy-extensions
narwhals
nltk
numpy
oauth2client
openai
orjson
packaging
pandas
passlib
pdf2image
pdfminer.six
pdfplumber
pillow
playwright
pluggy
propcache
protobuf
psutil
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pyee
Pygments
pymongo
pyOpenSSL
pyparsing
pypdf
PyPDF2
pypdfium2
pytesseract
pytest
python-dateutil
python-dotenv
python-jose
python-multipart
pytz
PyYAML
rank-bm25
referencing
regex
requests
requests-toolbelt
rich
rpds-py
rsa
six
smmap
sniffio
snowballstemmer
soupsieve
SQLAlchemy
starlette
streamlit
tenacity
tf-playwright-stealth
tiktoken
tokenizers
toml
tornado
tqdm
typing-inspect
typing_extensions
tzdata
urllib3
uvicorn
watchdog
win32_setctime
xxhash
yarl
zipp
zstandard
